<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 

  <ion-card class="cardProfile">
    <ion-card-content>
      <ion-label position="stacked">Nombre de Usuario</ion-label>
      <ion-input [disabled]="editDatos" value="{{profile.user?.user}}"></ion-input>
  
      <ion-label position="stacked">Email</ion-label>
      <ion-input [disabled]="editDatos" value="{{profile.user?.email}}"></ion-input>
  
      <ion-label position="stacked">Dirección</ion-label>
      <ion-input [(ngModel)]="profile.user.person.direccion" placeholder="Dirección"></ion-input>
  
      <ion-label position="stacked">Teléfono</ion-label>
      <ion-input [(ngModel)]="profile.user.person.tlf" placeholder="Número Telefónico"></ion-input>
  
      <ion-label position="stacked">Sexo</ion-label>
      <ion-input [(ngModel)]="profile.user.person.sexo" placeholder="Masculino o Femenino"></ion-input>
  
      <ion-label position="stacked">Edad</ion-label>
      <ion-input [(ngModel)]="profile.user.person.edad" placeholder="18? maybe"></ion-input>
    </ion-card-content>
  
    <ion-button (click)="updatePerson()">Actualizar</ion-button>
  </ion-card>
  
</ion-content>
