<ion-content >
  <div class="background-image"></div>
  
  <div class="container">
    <ion-label class="welcome-label"> Registro</ion-label>

        <ion-label style="font-size: 24px;" position="stacked" class="custom-label">Nombres y Apellidos</ion-label>
        <ion-input #user  placeholder="Ingresa tus nombres"></ion-input>
        
        <ion-label style="font-size: 24px;" position="stacked" class="custom-label">Correo Electronico</ion-label>
        <ion-input placeholder="Ingresa tu correo" #email type="email" ></ion-input>
        
        <ion-label style="font-size: 24px;" position="stacked" class="custom-label">Cédula</ion-label>
        <ion-input #dni   placeholder="Ingresa tu cedula"></ion-input>
        
        <ion-label style="font-size: 24px;" position="stacked" class="custom-label">Password</ion-label>
        <ion-input #password type="password"  placeholder="Ingresa tu contraseña">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
        
    <ion-button class="ion-button1" color="secondary" (click)="registro(user, email, dni, password)" >Registrarme</ion-button>
  </div>

</ion-content>